/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  color: white;
  background-color: #263238;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  margin: 0;
}

.search {
  width: 100%;
  border: none;
  margin: 0;
  padding: 10px 15px;
  background-color: #182126;
  color: white;
  font-size: 24px;
}

.search:active {
  outline-color: #485F6A;
}

.item:hover {
  background-color: #1A2126;
}

.item {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #484B4F;
  cursor: pointer;
  margin: 0;
  flex: 1;
}

#root {
  margin: 0;
}

.item__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #484B4F;
}

.item__container > .item {
  border-bottom: none;
}

.item__chevron--down {
  enable-background: new 0 0 444.819 444.819;
  padding: 10px;
  fill: white;
  cursor: pointer;
}

.item__chevron-container:hover {
  background-color: #1A2126;
}

.item__chevron-container {
  align-self: stretch;
  display: flex;
  align-items: center;
}
